@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/Intern/**/*';
@source '../../../../resources/views/filament/intern/**/*';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';
